@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@*<ComponentA></ComponentA>*@

@*<TwoWayBinding/>*@

@*<ForProblem></ForProblem>*@

@*<ParentComponent></ParentComponent>*@

@*<RazorSyntax></RazorSyntax>*@

<DependencyInjectionParentComponent></DependencyInjectionParentComponent>

@*<CascadingParent></CascadingParent>*@

<BlazorExample.Shared.SurveyPrompt Title="How is Blazor working for you?"/>