@inherits ItemCheckBoxBase

<div id="itemCheckBox">
    <div class="outer-container" @onclick="@ChangeIsDone">
        @if (Item.IsDone)
        {
            <div class="inner-container @ColorPrefix-background"></div>
        }
    </div>
</div>