@page "/about"

<h2 class="title">This app was created by ...</h2>
<table>
    <tr>
        <td>First name:</td>
        <td>Benjamin</td>
    </tr>
    <tr>
        <td>Last name:</td>
        <td>Proft</td>
    </tr>
</table>
