@page "/lifecycle"
@page "/lifecycle/{SomeIntValue:int}"
@inherits LifeCycleBase

@if (User != null)
{
    <div>Firstname: @User.FirstName</div>
}
else
{
    <div>Loading...</div>
}

<div>
    @SomeIntValue
</div>

<div>
    <a href="/lifecycle/5">Reload</a>
</div>
<div>
    <a href="/">Index</a>
</div>